appdirs==1.4.4
attrs==24.2.0
cads-api-client==1.2.0
Cartopy==0.23.0
cdsapi==0.7.1
certifi==2024.7.4
cftime==1.6.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
flexcache==0.3
flexparser==0.3.1
fonttools==4.53.1
idna==3.7
kiwisolver==1.4.5
matplotlib==3.9.2
MetPy==1.6.2
multiurl==0.3.1
netCDF4==1.7.1.post2
numpy==2.1.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
Pint==0.24.3
platformdirs==4.2.2
pooch==1.8.2
pyparsing==3.1.2
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scipy==1.14.1
setuptools==72.2.0
shapely==2.0.6
six==1.16.0
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
xarray==2024.7.0